.fs-1 {
    font-size: 3.5em; /* Регулируйте значение, чтобы увеличить или уменьшить размер шрифта */
}
.big-text {
    font-size: 5em; /* Увеличьте это значение по мере необходимости */
    text-transform: capitalize; /* Преобразуйте текст в верхний регистр */
    /* Добавьте другие стили, если необходимо */
}
