{% if 'algorithms' in request.path %}
<h2>Комментарии:</h2><br>
  {% if user.is_authenticated %}
    {% load django_bootstrap5 %}
    
    <h5 class="mb-4">Оставить комментарий</h5>
    <form method="post" action="{% url 'algorithm:add_comment' algorithm.category.slug algorithm.slug %}#comments_an">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
  {% endif %}
  <br>
  <div id='comments_an'>
  {% for comment in comments %}
    <div class="media mb-4">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'algorithm:profile' comment.author.username %}" name="comment_{{ comment.id }}">
            @{{ comment.author.username }}
          </a>
        </h5>
        <small class="text-muted">{{ comment.created_at }}</small>
        <br>
        {{ comment.text|linebreaksbr }}
      </div>
      {% if user == comment.author %}
        <a class="btn btn-sm text-muted" href="{% url 'algorithm:edit_comment' comment.algorithm.category.slug comment.algorithm.slug comment.id %}" role="button">
          Отредактировать комментарий
        </a>
        <a class="btn btn-sm text-muted" href="{% url 'algorithm:delete_comment' comment.algorithm.category.slug comment.algorithm.slug comment.id %}" role="button">
          Удалить комментарий
        </a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% elif 'data_structure' in request.path %}
<h2>Комментарии:</h2><br>
  {% if user.is_authenticated %}
    {% load django_bootstrap5 %}
    
    <h5 class="mb-4">Оставить комментарий</h5>
    <form method="post" action="{% url 'data_structure:add_comment' data_structure.category.slug data_structure.slug %}#comments_an">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
  {% endif %}
  <br>
  <div id='comments_an'>
  {% for comment in comments %}
    <div class="media mb-4">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'algorithm:profile' comment.author.username %}" name="comment_{{ comment.id }}">
            @{{ comment.author.username }}
          </a>
        </h5>
        <small class="text-muted">{{ comment.created_at }}</small>
        <br>
        {{ comment.text|linebreaksbr }}
      </div>
      {% if user == comment.author %}
        <a class="btn btn-sm text-muted" href="{% url 'data_structure:edit_comment' comment.data_structure.category.slug comment.data_structure.slug comment.id %}" role="button">
          Отредактировать комментарий
        </a>
        <a class="btn btn-sm text-muted" href="{% url 'data_structure:delete_comment' comment.data_structure.category.slug comment.data_structure.slug comment.id %}" role="button">
          Удалить комментарий
        </a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endif %}