{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте AlgoSolve
      </div>
      <div class="card-body">
        <section>
          <h2>Наша Миссия</h2>
          <p>В AlgoSolve мы стремимся предоставить вам уникальный опыт в изучении и понимании алгоритмов и структур данных. Наша миссия состоит в том, чтобы сделать сложные концепции доступными и понятными для каждого, независимо от вашего уровня подготовки.</p>
        </section>
          <section>
          <h2>Что Мы Предлагаем</h2>
          <ul>
              <li><strong>Обширная Библиотека Ресурсов:</strong> Изучайте разнообразные алгоритмы и структуры данных через нашу обширную библиотеку материалов, охватывающих все от базовых концепций до продвинутых тем.</li>
              <li><strong>Интерактивные Практические Задачи:</strong> Получайте практический опыт, решая интересные задачи и задания, спроектированные для углубленного понимания пройденного материала.</li>
              <li><strong>Сообщество Обучающихся:</strong> Присоединяйтесь к нашему сообществу, общайтесь с другими студентами, делясь знаниями и опытом, а также получайте поддержку в вашем учебном процессе.</li>
              <li><strong>Пошаговый плаг изучения:</strong> Наш сервис специально подобрал темы для удобного изучения алгоритмов и структур данных.</li>
          </ul>
      </section>
      <section>
        <h2>Наша Команда</h2>
        <p>Мы - команда энтузиастов, целящихся сделать процесс обучения алгоритмам увлекательным и доступным. Наш опыт в области программирования и образования позволяет нам создавать качественные материалы для вас.</p>
    </section>

    <section>
        <h2>Свяжитесь С Нами</h2>
        <p>Если у вас есть вопросы, предложения или вы хотели бы поделиться своим опытом с нами, свяжитесь с нами <a href="https://t.me/kaluginpeter">лично</a> или посетите наш <a href="https://t.me/+1sEtcxFHgF5iZTBi">форум</a>.</p>
    </section>

    <footer>
        <p>Спасибо, что выбрали AlgoSolve для вашего обучения! Давайте вместе погрузимся в мир алгоритмов и структур данных.</p>
    </footer>
      </div>
    </div>
  </div>
{% endblock %}