{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила AlgoSolve
      </div>
      <div class="card-body">
        <section>
          <h2>1. Уважение и Толерантность</h2>
          <p>Мы ценим уважение и толерантность в общении. Пожалуйста, проявляйте уважение к другим пользователям и их мнениям, даже если они различаются от ваших.</p>
      </section>
  
      <section>
          <h2>2. Никакой Рекламы и Спама</h2>
          <p>Запрещено размещение рекламы или спама на нашем ресурсе. Мы стремимся создать полезное и информативное сообщество, и любая нежелательная реклама может быть удалена.</p>
      </section>
  
      <section>
          <h2>3. Качественный Контент</h2>
          <p>При размещении контента, будьте уверены, что он качественный и соответствует теме. Избегайте оскорбительных или ненадежных материалов.</p>
      </section>
  
      <section>
          <h2>4. Без Нарушения Прав</h2>
          <p>Не нарушайте законы и правила. Запрещено размещение контента, нарушающего законы или правила ресурса.</p>
      </section>
  
      <section>
          <h2>5. Сотрудничество и Обмен Опытом</h2>
          <p>Мы поощряем сотрудничество и обмен опытом. Делитесь своими знаниями, помогайте другим участникам и создавайте положительное обучающее сообщество.</p>
      </section>
      <section>
        <h2>6. Задачи и их решение</h2>
        <p>При, а также после решения задачи, запрещается выкладывать её решение в комментариях. Мы поощаряем личную свободу и мнение каждого человека, но проявлейте уважение к другим людям.</p>
    </section>
  
      <footer>
          <p>Спасибо за соблюдение правил AlgoSolve. Вместе мы создаем пространство для эффективного обучения и обмена знаний по алгоритмам и структурам данных.</p>
      </footer>
      </div>
    </div>
  </div>
{% endblock %}