{% load simple_components %}
{% #set_component "card" %}
        <div class="card-body">
            {% set_slot "title_url" %}
            <p>{{ description }}</p>
        </div>
{% /set_component %}
<div class="card-list">
    <div class="card text-bg-primary mb-3" style="max-width: 72rem;">
        <div class="card-header">Вступление</div>
        <h5 class="card-title">Основы программирования</h5>
        <div class="card-body">
          <p class="card-text">Выберите язык программирования (Python, JavaScript, Java, C++, и т.д.) и изучите его основы, включая переменные, условные операторы, циклы и функции.</p>
          {% #component "card" description="Определение, принцип работы и основные операции с массивами" %}
              {% @slot "title_url" %}
                <h3 class="card-text"><a class="link-secondary text-white text-decoration-none" href="https://youtube.com/playlist?list=PLv_mO3iQ2o2fZllHFsEniuy1D-2IXr8eU&si=4aWWMCu06Iq0R5Kz">Python</a>
                </h3>
              {% /slot%}
            {% /component %}
            {% #component "card" description="Определение, принцип работы и основные операции с массивами" %}
            {% @slot "title_url" %}
              <h3 class="card-text"><a class="link-secondary text-white text-decoration-none" href="https://youtu.be/CxgOKJh4zWE?si=wPjpfEnw2KUMirQj">JavaScript</a>
              </h3>
            {% /slot%}
          {% /component %}
          {% #component "card" description="Определение, принцип работы и основные операции с массивами" %}
          {% @slot "title_url" %}
            <h3 class="card-text"><a class="link-secondary text-white text-decoration-none" href="https://youtu.be/U2OliQwRb6c?si=k-zrUZj2DXaGlfX3">Java</a>
            </h3>
          {% /slot%}
        {% /component %}
        {% #component "card" description="Определение, принцип работы и основные операции с массивами" %}
        {% @slot "title_url" %}
          <h3 class="card-text"><a class="link-secondary text-white text-decoration-none" href="https://youtu.be/kRcbYLK3OnQ?si=CgvpniQbmC_F_1mw">C++</a>
          </h3>
        {% /slot%}
      {% /component %}
      <h5 class="card-title">Изучение базовых концепций алгоритмов</h5>
      {% #component "card" description="Понимание терминов, таких как алгоритм, структура данных, сложность алгоритма, Big O нотация." %}
      {% @slot "title_url" %}
        <h3 class="card-text"><a class="link-secondary text-white text-decoration-none" href="{% url 'algorithm:theory' %}">Теория</a>
        </h3>
      {% /slot%}
    {% /component %}
        </div>
</div>